.Title{
    font-size: 35px;
}

.Pick-up{
    font-size: 15px;
    font-family: 'Times New Roman';
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 100px;
    margin-left: 4px;
    margin-bottom: 6px;
    background-color: rgb(239, 239, 239);
    border-color: rgb(237, 235, 235);
    border-style: hidden;
    display: block;
}   

.Destination{
    font-size: 15px;
    font-family: 'Times New Roman';
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 100px;
    margin-left: 4px;
    background-color: rgb(239, 239, 239);
    border-color: rgb(237, 235, 235);
    border-style: hidden;
    display: block;
}

.Request{
font-size: 15px;
margin-top: 40px;
margin-right: 6px;
padding-bottom: 8px;
padding-top: 8px;
padding-right: 10px;
padding-left: 10px;
background-color: rgb(17, 17, 17);
color: rgb(255, 252, 252);
border-radius: 2px;
cursor: pointer;    
}

.Request:hover:active{
    background-color: rgb(41, 41, 41);
}

.Schedule{
font-size: 15px;
padding-bottom: 8px;
padding-top: 8px;
padding-right: 10px;
padding-left: 10px;
font-weight: bold;
border-radius: 2px;
border-style: hidden;
cursor: pointer;
}


.Schedule:hover:active{
    background-color: rgb(209, 209, 209);
}